<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="CoreBaseUrl" connectionString="https://core.ac.uk:443"/>
    <add name="CoreApiKey" connectionString="LY3jJXVTbtixDHlyFoSe14hKs7kNQRAm"/>
    <add name="ElasticHost" connectionString="http://127.0.0.1"/>
    <add name="ElasticPort" connectionString="9200"/>
	<add name="PdfDir" connectionString="../Documents"/>
  </connectionStrings>
</configuration>